<launch>
  <arg name="uuv_name" default="bluerov2" />
  <arg name="filename" default="$(find way_points_pkg)/config/depth_points.yaml"/>
  <arg name="start_time" default="-1"/>
  <arg name="interpolator" default="lipb"/>

  <group ns="$(arg uuv_name)">
    <node pkg="uuv_control_utils"
          type="send_waypoint_file.py"
          name="send_waypoint_file"
          output="screen">
          <rosparam subst_value="true">
            filename: $(arg filename)
            start_time: $(arg start_time)
            interpolator: $(arg interpolator)
          </rosparam>
    </node>
  </group>

</launch>